body{

 background-image: url(img/fondo.jpg);
 width: 100%;
max-width: 100%;
color: blanchedalmond;
}

#Timg{
    display: flex;
    
    justify-content: center;
    align-items: center; 
    
    box-shadow: #FFFFFF 10px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 1px;
    
}
#Timg img{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 1px #000000;

}
#Timg img:hover{
    transform: scale(0.9);

}
footer p,p{
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;   

}

#lSistemas{
   display: flex;
    justify-content: center;
align-items: center;

   padding: 10px;
}
#lSistemas img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto 0;
       


   
}
#lSistemas img{
    width: 200px;
    height: 200px;
    margin: auto auto;
    
}
#lSistemas img:hover{
    
    transform: scale(0.9);

}
.contacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}


.contacto img{
    
    padding: 12px;
    margin-left:  auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#Timg{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
#Timg:hover{
    transform: scale(0.9);

}
.contacto img:hover{
    filter: opacity(.5);
    
}
#ubicacion{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#ubicacion:hover{
transform: scale(0.9);


}
.imgITA{
    display: flex;
    justify-content: center;
align-items: center;
    padding: 20px 10px;
}
.imgITA img{
  object-fit: cover;
  border-radius: 10px;
}

.imgITA img:hover{
    filter: opacity(0.9);
}





